/*  your css code here. If applicable */
body{
	background-color:rgb(204, 204, 204);
	padding:1rem;
}
h1,h2{
	text-align:center;
}
ul{
	border:1px solid black;
	padding:10px;
	border-radius:10px;
	background-color:white;
	padding-top:10px;
	width:95%;
}
li{
	
	list-style-type:none;
	padding:5px;
}
a{
	text-decoration-line:none;
	color:black;
	
}
.player_one{
	height:600px;
	width:90%;
	padding-left:20px;
	
}
.player_two{
	width:90%;
}
.media-player{
	background:rgb(255, 255, 255);
	display:flex;
	flex-direction:column;
	align-items:center;
}





